<ion-view view-title="Manufactures">
  <ion-content>
    <ion-list>
      <search-list></search-list>

      <ion-item ng-repeat="manufacture in manufactures | filter:search" href="#/app/manufactures/{{manufacture.id}}">
        {{manufacture.name}}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>