<ion-view view-title="Category details">
  <ion-content>
    <h1>{{ manufacture.name }}</h1>
    <p>{{ manufacture.description }}</p>

    <search-list></search-list> 

    <ion-list type="list-inset">
      <ion-item ng-repeat="model in models | limitTo:modelQuantity" href="#app/models/{{model.id}}">
        {{model.name}}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
