<ion-view view-title="Clients">
  <ion-content>
    <ion-list>
      <search-list></search-list>

      <ion-item ng-repeat="client in clients | filter:search" href="#/app/clients/{{client.id}}">
        <h2>{{client.first_name}} {{ client.last_name }}</h2>
        <p>City: {{ client.address_city }}</p>
        <p>Tel: {{ client.tel }}</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>