<ion-view view-title="Client details">
  <ion-nav-buttons side="secondary">
    <button class="button" ng-click="addOrder()">
      Add order
    </button>
  </ion-nav-buttons>

  <ion-content>
    <h1>{{ client.first_name }} {{ client.last_name }}</h1>
    <ion-list>
      <ion-item>
        Email: {{ client.email }}
      </ion-item>

      <ion-item>
        Adress: {{ client.address_street }} {{ client.adress_city }}
      </ion-item>

      <ion-item>
        Telephone: {{ client.tel }}
      </ion-item>

      <ion-item href="#/app/clients/{{client.id}}/orders">
        Orders({{ client.orders_count }})
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
