<ion-view view-title="Models">
  <ion-content>
    <ion-list>
      <search-list></search-list>

      <ion-item ng-repeat="model in models | filter:search" href="#/app/models/{{model.id}}">
        {{model.name}}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>