<ion-view view-title="Model details">
  <ion-content>
    <h1>{{ model.name }}</h1>
    <ion-list>
      <ion-item href="#app/categories/{{ model.category_id }}">
        Category: {{ model.category_name }}
      </ion-item>
      <ion-item href="#app/manufactures/{{ model.manufacture_id }}">
        Manufacture: {{ model.manufacture_name }}
      </ion-item>
      <ion-item href="#app/models/{{ model.id }}/articles">
        Articles ({{ model.articles_count }})
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
