<ion-view view-title="Categories">
  <ion-content>
    <ion-list>
      <search-list></search-list>

      <ion-item ng-repeat="category in categories | filter:search" href="#/app/categories/{{category.id}}">
        {{category.name}}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>