<ion-view view-title="Category details">
  <ion-content>
    <h1>{{ category.name }}</h1>
    <p>{{ category.description }}</p>
    <ion-list type="list-inset">
      <ion-item ng-repeat="model in models | limitTo:modelQuantity" href="#app/models/{{model.id}}">
        {{model.name}}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
