<div class="list">
  <label class="item item-input">
    <span class="input-label">Quantity</span>
    <input type="number" placeholder="{{ maxQuantity }}"  min="0" max="{{ maxQuantity }}" ng-model="order_article.quantity">
  </label>
  <label class="item item-input">
    <span class="input-label">Price</span>
    <input type="number" placeholder={{tempPrice}} ng-model="order_article.price">
  </label>
</div>