<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Choose article</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeForm()">Cancel</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <ion-list>
      <search-list></search-list>

      <ion-item ng-repeat="article in articles | filter:search | filter : quantityFilter" ng-click="insertQuantity({{article}})">
        {{article.name}}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-modal-view>
