<ion-view view-title="Order">
  <ion-content>
    <h1>{{ orders[0].client_name }}</h1>
    <p>{{ orders[0].created_at | date: defaultDate }}</p>
    <ion-list type="list-inset">
      <search-list></search-list>

      <ion-item ng-repeat="order in orders | filter:search" href="#/app/orders/{{order.id}}">
        <h2>{{order.created_at | date: defaultDate }}</h2>
        <p> Summary cost: {{order.summary_price | currency }} </p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>