<ion-view view-title="Order details">
  <ion-nav-buttons side="secondary">
    <button class="button" ng-click="addArticle()">
      Add article
    </button>
  </ion-nav-buttons>
  <ion-content>
    <h1>{{ order.client_name }}</h1>
    <p>{{ order.created_at | date: defaultDate }}</p>
    <p>Summary cost: {{ order.summary_price | currency }}</p>
    <search-list></search-list>
    <ion-list type="list-inset">
      <ion-item ng-repeat="order_article in order_articles | filter:search " class="item item-thumbnail-left item-icon-right">
        <h2>{{order_article.article_name}}</h2> 
        <p>Qantity: {{ order_article.quantity }}</p>
        <p>Price: {{ order_article.price | currency }}</p>
        <a ng-click="deleteArticle({{ order_article.id }},'{{ order_article.article_name }}', {{ $index }})"><i class="icon ion-close-round"></i></a>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
