<ion-view view-title="Articles">
  <ion-content>
    <ion-list>
      <search-list></search-list>

      <ion-item ng-repeat="article in articles | filter:search" href="#/app/articles/{{article.id}}">
        {{article.name}}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>