<ion-view view-title="Article details">
  <ion-content>
    <h1>{{ article.name }}</h1>
    <ion-list>
      <ion-item>
        Price: {{ article.price }}
      </ion-item>

      <ion-item>
        Fabric: {{ article.fabric }}
      </ion-item>

      <ion-item>
        Available: {{ article.quantity }}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
